doctype html
html
    head
        title Notebook
        meta(charset='utf-8')
        link(href='./style/style.css' rel='stylesheet')
        script(src='../react/react.js')
        script(src='../react/react-dom.js')
    body
        .popup
            .popup__content
        .content
        script(src='./script/script.js')
